.left {
    float: left;
}

.right {
    float: right;
}

html {
    font-family: helvetica;
}

#sideMenu {
    top: 0;
    left: 0;
    bottom: 0;
    width: 200px;
    padding: 30px 30px 30px 30px;
    position: fixed;
    background: #000;
}

#search input {
    width: 150px;
    height: 30px;
    padding: 0 7px;
    border: 0;
    border-radius: 2px;
    color: #fff;
    background: #353c44;
}

#search button {
    width: 30px;
    height: 30px;
    border: 0;
    border-radius: 2px;
    background: #353c44 url("magnify.png") no-repeat center;
    background-size: 16px;
}

.title {
    color: #353c44;
    font-size: 20px;
    padding-top: 40px;
}

.sub-title {
    color: #fff;
    font-size: 18px;
    padding-top: 20px;
}

li button {
    width: 100%;
    border: 0;
    color: #fff;
    font-size: 15px;
    background: none;
    cursor: pointer;
}