html {
    background-color: #30425a;
}
section {
    position: absolute;
    left: 50%;
    margin-left: -200px;
    display: table-cell;
    vertical-align: middle;
}

section #logo {
    background-image: url('logo.png');
    width: 290px;
    height:190px;
    background-size: cover;
    margin: 60px;
}

section header {
    padding: 20px;
    border-top: 1px solid #576474;
    border-bottom: 1px solid #576474;
}

section menu {
    margin-top: 0px;
    padding: 20px;
    border-bottom: 1px solid #576474;
}

section #id {
    background-image: url('person.png');
    width: 37px;
    background-size: cover;
}

section #password {
    background-image: url('secure.png');
    width: 37px;
    background-size: cover;
}

section #id textarea, #password textarea {
    margin-left: 50px;
    width: 330px;
    height: 30px;
    background-color: transparent;
    border: 0px;

}

section button {
    margin: 10px;
    width: 400px;
    height: 40px;
    background-color: #04bf95;
    color: #ffffff;
    border: 0px;
    border-radius: 3px;
}