/* ==========================================================================
 * User: Jihye Lee
 * Date: 2013. 11. 25.
 * Time: 오후 04:52
 ========================================================================== */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

html,
body,
a {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.left {
    float: left;
}

.right {
    float: right;
}

.icon {
    display: inline-block;
    position: relative;
    background-color: transparent;
    background-repeat: no-repeat;
    background-image: url('sprite.png');
    background-size: 140px 146px;
}

/* Aside */

aside {
    top: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    padding-top: 80px;
    width: 23%;
    max-width: 500px;
    min-width: 200px;
    background-color: #d1d3d4;
    z-index: 2;
}

aside #cover a .logo {
    width: 140px;
    height: 95px;
    position: relative;
    left: 27%;
    background-position: 0 0;
}

a {
    text-decoration: none;
    color: #fff;
}


aside #extra {
    position: relative;
    left: 27%;
    padding-top: 50px;
}

aside #extra button {
    border: 0;
    width: 25px;
    height: 25px;
    outline: none;
    margin-right: 3px;
}

aside #extra button.instagram {
    background-position: 0 -96px;
}

aside #extra button.facebook {
    background-position: -25px -96px;
}

aside #extra button.tumblr {
    background-position: -50px -96px;
}

aside #extra button.mail {
    background-position: -75px -96px;
}

aside #extra button.instagram:hover {
    background-position: 0 -121px;
}

aside #extra button.facebook:hover {
    background-position: -25px -121px;
}

aside #extra button.tumblr:hover {
    background-position: -50px -121px;
}

aside #extra button.mail:hover {
    background-position: -75px -121px;
}

aside #copyright {
    font-size: 9px;
    color: #939598;
    position: relative;
    left: 27%;
    padding-top: 25px;
}

/* Article */

article {
    right: 23%;
    left: 0;
    top: 0;
    position: absolute;
    padding: 70px 90px;
    background-color: #f1f2f2;
}

article ul li {
    list-style: none;
}

article ul li .content-block {
    width: 33.33333%;
    min-width: 200px;
    float: left;
    height: 180px;
    background-color: #fff;
    border-radius: 6px;
    margin-right: 30px;
    margin-bottom: 25px;
    box-shadow: 0 1px 0 0 rgba(0,0,0,0.1);
    color: #fff;
    font-size: 13px;
    font-family: "Gotham Rounded A","Gotham Rounded B",Helvetica,Arial,sans-serif;
    font-weight: 500;
}

article ul li .content-block .app {
    top: 0;
    position: relative;
    height: 37px;
    background-color: #71bf44;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
}

article ul li .content-block .web {
    top: 0;
    position: relative;
    height: 37px;
    background-color: #2384c6;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
}

article ul li .content-block .graphic {
    top: 0;
    position: relative;
    height: 37px;
    background-color: #faa61a;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
}


