/* ==========================================================================
 * User: Jihye Lee
 * Date: 2013. 11. 16.
 * Time: 오후 05:04
 ========================================================================== */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

html,
body,
a {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased !important;
}

.left {
    float: left;
}

.right {
    float: right;
}

.icon {
    display: inline-block;
    position: relative;
    background-color: transparent;
    background-repeat: no-repeat;
    background-image: url('sprite.png');
    background-size: 244px 104px;
}

/* Header */

header {
    top: 0;
    left: 0;
    right: 0;
    height: 105px;
    background: #f8de00;
    position: fixed;
    z-index: 1;
}

header #logo,
header nav {
    height: inherit;
}

header #logo {
    color: #fff;
    display: table;
    position: relative;
}

header #logo a {
    display: table-cell;
    vertical-align: middle;
    font-size: 1.75rem;
    font-weight: bold;
    padding-left: 20px;
    letter-spacing: -1px;
    line-height: 0.9;
}

header #logo a sub {
    font-size: 1rem;
    margin-left: .1rem;
    bottom: 0;
}

header nav {
    display: table;
    background-color: #fff;
}

header nav span {
    display: table-cell;
    vertical-align: middle;
}

header span.view {
    width: 25%;
}

header nav span a {
    margin-left: 30px;
    display: inline-block;
    color: #1b1b1b;
    opacity: .4;
    font-weight: bold;
    text-decoration: none;
    font-size: 0.8rem;
}

header nav span.menu a .magnifier {
    top: 2px;
    width: 12px;
    height: 12px;
    margin-left: 10px;
    background-position: -90px -20px;
}

header nav span.view button {
    top: -2px;
    border: 0;
    cursor: pointer;
    width: 17px;
    height: 11px;
    opacity: .4;
    margin-right: 2%;
}

header nav span.view button.grid {
    background-position: -110px -20px;
}

header nav span.view button.list {
    background-position: -130px -20px;
}

header nav span.extra a.twitter {
    top: 5px;
    width: 24px;
    height: 19px;
    display: inline-block;
    position: relative;
    opacity: .4;
    background-position: -150px -20px;
}

/* Content */

#content {
    margin-top: 105px;
}

#content .about {
    padding: 50px 30px;
    background: #343434;
    color: #fff;
    font-size: 3.125rem;
    letter-spacing: -1px;
    font-weight: bold;
    line-height: 51px;
}

#content #post {
    display: -webkit-flex;
    -webkit-flex-flow: row wrap;
}

#content #post li {
    float: left;
    display: block;
    -webkit-flex: 1 1 160px;
    min-width: 160px;
    max-width: 320px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

#content #post li img {
    width: 100%;
    height: auto;
    display: block;
}

#content #post li .detail {
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    background: #f8de00;
    transition: opacity 0.15s linear;
}

#content #post li .detail span {
    display: inline-block;
    padding: 20px;
    font-size: 1.9rem;
    font-weight: bold;
    line-height: 1.9rem;
    transition: opacity 0.15s linear;
}

#content #post li:hover .detail {
    opacity: 1;
}

#content #post li .detail span {
    padding: 20px;
    color: #fff;
}

/* Responsive */

@media only screen and (min-width: 930px) {
    header #logo {
        width: 20%;
    }
    header nav {
        width: 80%;
    }
}

@media only screen and (min-width: )



