/* ==========================================================================
   Display definitions
   ========================================================================== */

p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
div,
body,
menu,
button,
textarea {
	margin: 0;
	padding: 0;
	outline-style: none;
	font-family: "Apple SD Gothic Neo";
}

li {
	list-style: none;
}

textarea {
	resize: none;
}

/* ==========================================================================
   Floated definitions
   ========================================================================== */

.left {
	float: left;
}

.right {
	float: right;
}

.clear {
	width: 0;
	height: 0;
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
}

.clearfix:before,
.clearfix:after {
	content: '.';
	display: block;
	overflow: hidden;
	visibility: hidden;
	font-size: 0;
	line-height: 0;
	width: 0;
	height: 0;
}

.clearfix:after {
	clear: both;
}

.clearfix {
	zoom: 1;
}

/* ==========================================================================
   Aside definitions
   ========================================================================== */

#leftSide {
	top: 0;
	left: 0;
	bottom: 0;
	width: 190px;
	position: fixed;
	background: #14171b;
}

#leftSide ul {
	padding: 20px;
}

#leftSide ul li {
	color: white;
	padding: 10px;
	font-size: 13px;
	cursor: pointer;
}

#leftSide ul li:hover {
	color: #ffc44d;
}

#rightSide {
	top: 0;
	right: 0;
	bottom: 0;
	width: 290px;
	position: fixed;
	border-left: 1px solid #d3d3d3;
}


/* ==========================================================================
   Albums definitions
   ========================================================================== */

#content {
	margin: 0 290px 0 190px;
}

#content #searchBar {
	padding: 35px;
}

#content #searchBar #input {
	border: 1px solid #c2c5c7;
	border-radius: 2px;
	padding: 3px 5px;
}

#content #searchBar #input input {
	border: 0;
}

#content #searchBar #input .magnify {
	border: 0;
	background: none;
	color: #c2c5c7;
}

#content #searchBar #playAll {
	padding: 7px 10px;
	color: #fff;
	border: 0;
	border-radius: 2px;
	background: #4db9f0;
}

#content #albums {
	padding: 0 35px;
}

#content #albums .album {
	margin-right: 35px;
	margin-bottom: 35px;
}

#content #albums .album:nth-child(4n) {
	margin-right: 0;
}

#content #albums .album img {
	width: 190px;
	height: 190px;
	border-radius: 2px;
}

#content #albums .album .artist {
	margin-top: 20px;
	position: relative;
}

#content #albums .album .artist .thumbnail {
	top: 0;
	right: 0;
	width: 32px;
	height: 32px;
	position: absolute;
}

#content #albums .album .artist .name {
	color: #272c33;
	font-size: 13px;
}

#content #albums .album .artist .title {
	color: #979ea2;
	font-size: 11px;
	margin-top: 4px;
}