.menu {
    width: 1020px;
    margin-left: auto;
    margin-right: auto;
}

html {
    background: #fdfdfc;
}

header {
    width: 100%;
    height: 100px;
    position: fixed;
    background: #56bca8;
}

header nav {

    color: #ffffff;
    font-family: helvetica-bold;
    font-size: 8px;

}

header nav div:hover {
    color: #85d6c7;
    font-family: helvetica;
}

section {
    padding-top: 100px;
}

section .content {
    text-align: center;
}